<section class='booklist'>
    <header class='booklist__header'><span class='booklist__header--highlight'>{{user}}</span>book shelf</header>
    <div class="books">
        {{#each books}}
        <div class='book'>
            <div class='book__img-container'>
                <img class='book__img' src="{{this.image}}" alt="book-cover">
            </div>
            <div class="book__info">
                <p class='book__title'>{{this.title}}</p>
                <p class='book__author'>{{this.author}}</p>
                <p class='book__rating'>{{this.rating}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</section>